﻿@model PortfolioViewModel

@{
    ViewData["Title"] = "Delete";
}


<div style="margin:160px;">

    <h1>Delete</h1>

    <div class="modal-body text-center">
        <h3>Are you sure you want to delete this?</h3>
        <div class="container">
            <div class="row justify-content-center" style="margin-top: 75px;">
                <div class="col-lg-8">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">@Model.Portfolio.ProjectName</h2>
                    <!-- Icon Divider -->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="divider-custom-line"></div>
                    </div>
                    @foreach (var ProtfolioImage in Model.Portfolio.ProtfolioImages)
                    {

                        <!-- Portfolio Modal - Image -->
                        <img class="img-thumbnail" style="width:64px; height:64px" src="~/img/portfolio/@ProtfolioImage.ImageUrl" alt="">

                    }
                    <!-- Portfolio Modal - Text -->
                    <p class="mb-5">
                        @Model.Portfolio.Description
                    </p>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


