﻿@model PortfolioViewModel


@{
    ViewData["Title"] = "Edit";
}

<div style="margin:160px; padding:120px;">
    <h1>Edit</h1>

    <h4>PortfolioItem</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProjectName" class="control-label"></label>
                    <input asp-for="ProjectName" class="form-control" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    @*<input asp-for="Description" class="form-control" />*@
                    <textarea asp-for="Description" class="form-control" rows="4" cols="50"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LogoImage" class="control-label"></label>
                    <input type="file" asp-for="LogoImage" class="form-control" />
                    <span asp-validation-for="LogoImage" class="text-danger"></span>
                </div>
                <div>
                    @if (Model.protfolioImages.Count != 0)
                    {
                        foreach (var ProtfolioImage in Model.protfolioImages)
                        {
                            <label asp-for="@ProtfolioImage.ImageUrl" class="control-label"></label>
                            <input type="file" asp-for="ImageFile" class="form-control" />
                            @*<input asp-for="@ProtfolioImage.ImageUrl" class="form-control" />*@
                            <span asp-validation-for="@ProtfolioImage.ImageUrl" class="text-danger"></span>
                            <!-- Portfolio Modal - Image -->
                            @*<img class="img-fluid rounded mb-5" src="~/img/portfolio/@ProtfolioImage.ImageUrl" alt="">*@

                        }
                    }
                    else
                    {
                        <label asp-for="ImageFile" class="control-label"></label>
                        <input type="file" asp-for="ImageFile" class="form-control" />                    
                        <span asp-validation-for="ImageFile" class="text-danger"></span>                        
                    }
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </div>


</div>
