﻿@model PortfolioViewModel

@{
    ViewData["Title"] = "Index";
}

<div style="padding:130px;">

    <h1>Portfolios</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(Model => Model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.LogoUrl)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Portfolios)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <img src="~/img/portfolio/@item.LogoUrl" class="img-thumbnail" style="width:64px; height:64px"/>                        
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>

            }
        </tbody>

    </table>
</div>