﻿<!DOCTYPE html>
<html lang="en">

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SHANTU APPS</title>

    <!-- Custom fonts for this theme -->
    <link href="~/fonts/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="~/img/myMoneyLogo30_86.png">
    @* <link rel="shortcut icon" href="https://shantuapps.de/Content/MyMoney/themes/images/ico/favicon.ico">*@
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="~/css/freelancer.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="@Url.Action("Index", "Home")"><img src="~/img/shantuappslogo.png" width="180" height="70" alt="Logo"></a>
            @* <a class="navbar-brand js-scroll-trigger" href="#page-top">SHANTU APPS</a>*@
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#page-top">Home</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Configuration["Host"]#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        @* <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="about">About Us</a>*@
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Configuration["Host"]#about">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-target="#termsAndConditionDivId" data-toggle="modal" href="@Configuration["Host"]#" id="termsAndConditionButton">Terms &amp; Condition</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-target="#PrivacyPolicy" data-toggle="modal" href="@Configuration["Host"]#" id="PrivacyPolicyButton">Privacy Policy</a>
                    </li>
                    
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Configuration["Host"]#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>


    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">

                <!-- Footer Location -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Address</h4>
                    <p class="lead mb-0">
                        Irgenhöhe 10
                        <br>66119 Saarbrücken
                        <br>Germany
                    </p>
                </div>

                <!-- Footer Social Icons -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Around the Web</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/ShantuApps">
                        <i class="fab fa-fw fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.xing.com/profile/AsifHossain_Shantu">
                        <i class="fab fa-fw fa-xing"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                        <i class="fab fa-fw fa-twitter"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://de.linkedin.com/in/shantu-asif-hossain-a06532137">
                        <i class="fab fa-fw fa-linkedin-in"></i>
                    </a>

                    @*<a class="btn btn-outline-light btn-social mx-1" href="#">
                            <i class="fab fa-fw fa-dribbble"></i>
                        </a>*@
                </div>

                <!-- Footer About Text -->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Current state</h4>
                    <p class="lead mb-0">
                        Senior Software Developer & Team Lead,
                        <a href="https://www.e-consult.de/">
                            e.Consult
                        </a>.
                    </p>
                </div>

            </div>
        </div>
    </footer>

    <!-- Copyright Section -->
    <section class="copyright py-4 text-center text-white">
        <div class="container">
            <small>ShantuApps.de &copy; Developed By <a href="https://www.xing.com/profile/Ali_Krezan"> Ali Krezan </a>, 2020 </small>
        </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>



    <!-- Modals -->
    <!--Terms and Conditions -->
    <div class="portfolio-modal modal fade" id="termsAndConditionDivId" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!--Modal - Title -->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Terms and Conditions</h2>
                                <!-- Icon Divider -->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image -->
                                @*<img class="img-fluid rounded mb-5" src="~/img/portfolio/Dashboard.jpg" alt="">*@
                                <!-- Portfolio Modal - Text -->
                                <p class="mb-5 text-left">
                                    <b>1. License Introduction:</b><br>This End User License Agreement (“Agreement”) (last updated on 26.05.2019) is between you and this app and governs use of this app made available through your device app store. By installing the this app App, you agree to be bound by this Agreement and understand that there is no tolerance for objectionable content. If you do not agree with the terms and conditions of this Agreement, you are not entitled to use the this app App. In order to ensure this app provides the best experience possible for everyone, we strongly enforce a no tolerance policy for objectionable content. If you see inappropriate content, please use the "Report" feature or contact us.<br><br>

                                    <b>2. Parties:</b><br>
                                    This Agreement is between you and this app only (not any app store). Notwithstanding the foregoing, you acknowledge that app store and its subsidiaries are third party beneficiaries of this Agreement and your device app store (e.g. Apple, Google) has the right to enforce this Agreement against you. this app, is solely responsible for the this app App and its content.<br><br>

                                    <b>3. Privacy:</b><br>
                                    this app may collect and use information about your usage of the this app App, including certain types of information from and about your device. this app may use this information, as long as it is in a form that does not personally identify you, to measure the use and performance of the this app App.<br><br>

                                    <b>4. Limited License:</b><br>
                                    this app grants you a limited, non-exclusive, non-transferable, revocable license to use the this app App for your personal, non-commercial purposes. You may only use the this app App on devices like Apple devices or android devices that you own or control and as permitted by the App Store Terms of Service.<br><br>

                                    <b>5. Age Restrictions:</b><br>
                                    By using the this app App, you represent and warrant that (a) you are 17 years of age or older and you agree to be bound by this Agreement; (b) if you are under 17 years of age, you have obtained verifiable consent from a parent or legal guardian; and (c) your use of the this app App does not violate any applicable law or regulation. Your access to the this app App may be terminated without warning if this app believes, in its sole discretion, that you are under the age of 17 years and have not obtained verifiable consent from a parent or legal guardian. If you are a parent or legal guardian and you provide your consent to your child's use of the this app App, you agree to be bound by this Agreement in respect to your child's use of the this app App.<br><br>

                                    <b>6. Objectionable Content Policy:</b><br>
                                    Content may not be submitted to this app, who will moderate all content and ultimately decide whether or not to post a submission to the extent such content includes, is in conjunction with, or alongside any, Objectionable Content. Objectionable Content includes, but is not limited to: (i) sexually explicit materials; (ii) obscene, defamatory, libelous, slanderous, violent and/or unlawful content or profanity; (iii) content that infringes upon the rights of any third party, including copyright, trademark, privacy, publicity or other personal or proprietary right, or that is deceptive or fraudulent; (iv) content that promotes the use or sale of illegal or regulated substances, tobacco products, ammunition and/or firearms; and (v) gambling, including without limitation, any online casino, sports books, bingo or poker. If Objectionable content reported, we have the right to delete and blacklist your access without any further notification.<br><br>

                                    <b>7. Warranty:</b><br>
                                    this app disclaims all warranties about the this app App to the fullest extent permitted by law. To the extent any warranty exists under law that cannot be disclaimed, this app, not Apple, shall be solely responsible for such warranty.<br><br>

                                    <b>8. Maintenance and Support:</b><br>
                                    this app does provide minimal maintenance or support for it but not to the extent that any maintenance or support is required by applicable law, this app, shall be obligated to furnish any such maintenance or support.<br><br>

                                    <b>9. Product Claims:</b><br>
                                    this app, is responsible for addressing any claims by you relating to the this app App or use of it, including, but not limited to: (i) any product liability claim; (ii) any claim that the this app App fails to conform to any applicable legal or regulatory requirement; and (iii) any claim arising under consumer protection or similar legislation. Nothing in this Agreement shall be deemed an admission that you may have such claims.<br><br>

                                    <b>10. Third Party Intellectual Property Claims:</b><br>
                                    this app shall not be obligated to indemnify or defend you with respect to any third party claim arising out or relating to the this app App. To the extent this app is required to provide indemnification by applicable law, this app, not Apple, shall be solely responsible for the investigation, defense, settlement and discharge of any claim that the this app App or your use of it infringes any third party intellectual property right.<br><br>
                                </p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modals -->
    <!--Privacy Policy -->
    <div class="portfolio-modal modal fade" id="PrivacyPolicy" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!--Modal - Title -->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Privacy Policy</h2>
                                <!-- Icon Divider -->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image -->
                                @*<img class="img-fluid rounded mb-5" src="~/img/portfolio/Dashboard.jpg" alt="">*@
                                <!-- Portfolio Modal - Text -->
                            <p class="mb-5">
                                    Our ultimate goal is your entertainment using our apps. At various points, handling of personal data is required. We collect as little personal information as possible.<br><br>

                                <h2>Scope:</h2><br>
                                <p class="text-left">
                                    These data protection regulations apply to the apps, online services and internet offers offered by Asif Hossain Shantu.<br><br>
                                    Contact Person:<br>
                                    For information and request reach us by post or online:<br>
                                    Irgenhöhe 10,<br>
                                    66119, Saarbrücken<br>
                                    Germany<br>
                                    <a href="https://shantuapps.de/Home/ContactUs"> https://shantuapps.de/Home/ContactUs </a><br><br><br>
                                </p>

                                <h2>For what purposes are we collecting data?</h2><br>
                                <p class="text-left">
                                    Download, purchases and in-app purchases:<br>
                                    In our apps, we do not collect personal information related to the purchase or download of apps through an app store.<br> This data, in particular electronic payment processing data, will only be collected directly by the relevant app store.<br>
                                    Please note the privacy statements when using the stores:<br><br>

                                    Apple App Store: www.apple.com/privacy/<br>
                                    Google Play Store: policies.google.com/privacy<br>
                                    Microsoft Store privacy.microsoft.com/privacystatement<br><br>
                                </p>


                                <h2>Customer Service:</h2><br><br>
                                <p class="text-left">
                                    You can send us messages on topics such as errors, questions, praise or other constructive feedback. This can be done in various ways, for example by direct email or by email, which is initiated via the contact function from our apps or via the contact form on our website, as well as Facebook posts on our Facebook pages.<br><br>
                                    Please keep in mind that we can not answer you without you providing your email address. Additional information, such as your name or address, will be provided by you unsolicited, it is not used for processing your request.<br><br>
                                    We use this data provided by you for the purpose of troubleshooting, to improve our apps, to process the contract concluded with you, or to answer your request. We may ask for additional information when needed to respond to your request.<br><br>
                                    In order for us to answer your requests, we store and process your messages. We archive this data to contact you purposefully, for example in case of a product update with bug fixes for the problem you reported.<br><br>
                                    The legal basis of the processing is your request, possibly our obligation to fulfill the End User License Agreement, and possibly the contract for the use of our online offers, to enable a flawless use of our offers, as well as our legitimate interest in continuously improving our offers.<br><br>
                                    Your messages are stored by Google Forms. Please note their privacy policy: <a href="https://policies.google.com/privacy?hl=en"> https://policies.google.com/privacy?hl=en </a><br><br>
                                    How can you delete your data? If you want us to delete your messages, please send us a message via one of the communication channels offered by us.<br><br>
                                </p>

                                <h2>Offline usage:</h2><br>
                                <p class="text-left">
                                    The offline use of our apps takes place without identification of the user. All game results are stored only locally on your device.<br><br>
                                    How can you delete your data? By deleting the app, all user data and game results are irretrievably lost.<br><br>
                                </p>

                                <h2>Login to the online game:</h2><br>
                                <p class="text-left">
                                    To log in to our online games server, you can use an external authentication mechanism that we have integrated, such as GameCenter, Facebook or Google Login (opt-in). This allows us to provide you with your user data (profile, friends, game history) regardless of the used device. The prerequisite is that you already have a user account with one of these providers. If you log in to our app via one of these providers, our app will gain access to your public profile.<br><br>
                                    The legal basis is your consent through the active selection of an external authentication mechanism.<br><br>
                                    We apply the "privacy by design" principle: In our apps, passwords of these external providers are not generated, transmitted or stored. This is done directly by these third party providers. We use only the authentication mechanism. We do not query any further data from your profile (like name, friends, etc.).<br><br>
                                    Please note their privacy statements when using these providers:<br><br>
                                    Facebook: www.facebook.com/about/privacy/ Apple GameCenter:<br>
                                    www.apple.com/legal/internet-services/itunes/gamecenter/de/terms.html Google<br>
                                    Login: https://policies.google.com/privacy<br><br>
                                    How can you revoke the link? You can revoke the link at any time in the settings of the provider of the external authentication mechanism.<br><br>
                                </p>

                                <h2>Chat with other players in the online game:</h2><br>
                                <p class="text-left">
                                    Messages that you send in the online game are only visible to the participants in the active game table. We reserve the right to temporarily log chat messages on the online game server to prevent inappropriate communication, e.g. to respond with a justified blocking of the user account. Of course, we treat chat data confidentially and pass it on only in legally required or justified exceptional cases.<br><br>
                                    Legal basis is the preservation of the legitimate interest of our company to defend against inappropriate or illegal communication when using our products or services.<br><br>
                                    How can you delete your data? Chat messages are not stored permanently. We only keep protocols in a justified individual case and only as long as necessary to enforce our legal rights.<br><br>
                                </p>

                                <h2>User profile in the online game:</h2><br>
                                <p class="text-left">
                                    For the use of our online games server, it is technically necessary that we identify users uniquely, for example, to assign match results to a user profile, to continue a game after a break in the connection, and to determine the duration of a subscription completed through in-app purchases. The data you enter (profile, friends, game history, in-app purchases) is stored on a server within the EU (https://contabo.com/).<br><br>
                                    Legal basis is the fulfilment of the contract for the use of our online offers.<br><br>
                                    We apply the "privacy by design" principle: we collect no data for identification of the natural person such as name or email address. We minimize the identification to a pseudonymized device ID. Depending on the device, a device ID will be used to identify the user when the app is launched again.<br><br>
                                    Please note: The device ID is usually lost when you reinstall the app and, of course, when you change the device. In this case, your data is irretrievably lost.<br><br>
                                    Further technical measures: The communication between app and server is not always encrypted (SSL). No passwords are stored on the server. The server is protected against unauthorized data access based on the state-of-the-art.<br><br>
                                    Youe player name and user picture, are publicly visible to other participants of the online game server. In case of Facebook user, we collect it from Facebook.<br><br>
                                    How can you delete your data? Please contact us via https://shantuapps.de/Home/ContactUs to delete your information.<br><br>
                                </p>


                                <h2>User IP address and location in the online game:</h2><br>
                                <p class="text-left">
                                    We collect your IP address and determine you location bassed on your IP. You IP, location, last login date etc are also kept in your server. These info is used for online services but not sold or misused. Following 3rd party APIs are used:<br><br>
                                    Location: http://ip-api.com/ (api e.g. "http://ip-api.com/json/" + {your IP} + "?fields=5201&lang=en" )<br><br>
                                    Prayer time : http://api.aladhan.com/ (api e.g. "http://api.aladhan.com/v1/timingsByCity?city=" + {city} + "&country=" + {country} + "&date_or_timestamp=" + {DD-MM-YYYY})<br><br>
                                    How can you delete your data? Please contact us via https://shantuapps.de/Home/ContactUs to delete your information.<br><br>

                                </p>

                                <h2>Sharing content:</h2><br>
                                <p class="text-left">
                                    We allow you to invite friends to the online game and to notify third parties, for example by e-mail or in social networks, of your success (opt-in). By clicking on the Send action in our app, data in text form will be exported to an app of your choice, e.g. an email program.<br><br>
                                    The legal basis is your consent to export the data by actively selecting an export option (opt-in).<br><br>
                                    We apply the "privacy by design" principle: you have full control over your data as part of the features of the app of your choice. With an e-mail program, you can transfer the text that we have exported, for example review and edit before sending it. The transfer to the selected recipients takes place solely by you, outside of our app. We do not obtain access to information about the recipients.<br><br>
                                    How can you delete your data? The exported data in text form is not stored by us.<br><br>
                                   
                                </p>

                                <h2>Notifications:</h2><br>
                                <p class="text-left">
                                    We offer to notify you through push messages about new friendship invitations and game tables that your friends have invited you to. In order to use this service, you must confirm a request by the app or activate it in the settings of your device (opt-in). We then save a push token on our online game server. This token is required to send the push message to your device via Apple or Google.<br><br>
                                    The legal basis is your informed consent (opt-in) for notification by push message.<br><br>
                                    How can you revoke the link? You can revoke the link at any time in the system settings of your operating system.<br><br>
                                  
                                </p>


                                <h2>Advertising:</h2><br>
                                <p class="text-left">
                                    We offer various apps free of charge for end users, that are financed by advertisements in the app. The advertisements are an integral part of the product.<br><br>
                                    We use pseudonymized device identifiers in these apps to optimize and personalize advertisements for you. We inform you know about this in the app before you can start using the app.<br><br>
                                    We transmit these identifiers, among other information about your device, to our partners for the purpose of advertising and analysis. Our partners may combine this information with other information that you have provided to them, or that they may have collected when you use the services.<br><br>
                                    Legal basis is your informed consent in the form of your active confirmation that you have taken note of this information.<br><br>
                                    You can disable the device generated advertising ID on your device. As a result, you will see no less advertising, but then the ads will be less based on your usage and likely less relevant to you.<br><br>
                                    We may use your image, data or game screen shots or event your game play publicly e.g. in google play store, youtube and/or Facebook, etc to advertise this app / game. We dont do it make shame for you or in other words we dont do bad things with your image or data. However, if you are unhappy with your image or screen shot that is publicly available to advertise this app / game, please let us know with details, we will take it down.<br><br>
                                   
                                </p>

                                <h2>App permissions:</h2><br>
                                <p class="text-left">
                                    To accomplish the above purposes, our apps require the following permissions. Your operating system informs you about which permissions are active.<br><br>
                                    TCP/IP network connections to the Internet (INTERNET)<br><br>
                                    Android only: Verify if the app has been legally downloaded from the Play Store (com.android.vending.CHECK_LICENSE)<br><br>
                                    Android only: Check if a network connection is possible (ACCESS_NETWORK_STATE)<br><br>
                                    Android versions with advertisements only: For targeted advertising, access to WiFi status (ACCESS_WIFI_STATE)<br><br>
                                    How can you revoke a permission? You can revoke opt-in permissions at any time in the system settings of your operating system.<br><br>
                                   
                                </p>

                                <h2>Your rights:</h2><br>
                                <p class="text-left">
                                    You have a right to information about your personal data. You also have the right of rectification or deletion or limitation of processing, as well as the right to object to processing and the right to data portability. You can revoke your consent to data processing at any time.<br><br>
                                    Furthermore, you have a right of appeal to the competent supervisory authority.<br><br>
                                   
                                </p>

                                <h2>This page version info:</h2><br>
                                <p class="text-center">
                                    Last Updated on 03.05.2020.<br><br>
                                   
                                </p>



                            </p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Bootstrap core JavaScript -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/freelancer.min.js"></script>

</body>

</html>
